[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
proof_of_play = "3QFQBFSLCAqenWMdTaj9HBHVCjJwzD19Wz9ELvSd5fmK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
